body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
    line-height: 0.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #393E46;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #6D9886;
}

p {
    color: #557153;
    font-size: 15px;
}

hr {   
    border-color: #6D9886;
    border-style: none;
    border-top-style: dashed;
    border-top-width: 5px;
    width: 10%;
}

.top-container {
    background-color: #EAFDFC;
    position: relative;
    padding-top: 100px;
}

.intro {
    color: #86A3B8;
}

.intro2 {
    color: #567189;
    
}

.aspire {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
    width: 200px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
    width: 170px;
}

.pfp {
    border-radius: 100%;
    width: 150px;
}

.html-logo {
    width: 15%;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.css-logo {
    width: 15%;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.js-logo {
    width: 15%;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.mid-container {
    background-color: #F5F5F5 ;
    padding-bottom: 15px;   
}

.skill-row {
    width: 50%;
    text-align: left;
    margin: 100px auto 100px auto;
    line-height: 2;
}

.btn {
    color: #F5F5F5;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px #6D9886;
    border-style: solid;
    border-radius: 5px;
    background: rgb(86,204,155);
    background: linear-gradient(0deg, rgba(86,204,155,1) 0%, rgba(109,152,134,1) 100%);   
}

.btn:hover {
    color: #393E46;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px #393E46;
    border-style: solid;
    border-radius: 5px;
}

.bot-container {
    background-color: #EAFDFC;
    padding-bottom: 5px;
    padding-top: 10px;
    border-top: 0.5px;
    border-color: #697381;
    border-top-style: solid;
}

.footer-link {
    font-size: 15px;
    color: #EAFDFC;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px #6D9886;
    border-style: solid;
    border-radius: 5px;
    background-color: #6D9886;
}

.footer-link:hover {
    color: #393E46;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px #393E46;
    border-style: solid;
    border-radius: 5px;
}
